{% extends "instagram/layout.html" %}
{% load bootstrap4 %}

{% block title %}
{% endblock title %}

{% block content %}
    <body>

    <form action="" method="get">
        <input type="text" name='p' value="{{ p }}">
        <input type="submit">
    </form>

    <a href="{% url 'instagram:post_new' %}" class="btn btn-primary btn-block mt-3 bt-3">새 포스팅</a>
    <br>
    {% for list in post_list %}
    <table class="table table-bordered table-hover">
        <tr>
            <td>
                {{ list.pk }}
            </td>
            <td>
                {{ list.message }}
            </td>
            <td>
                <a href="{{ list.get_absolute_url }}">
                {% if list.photo %}
                    <img src="{{ list.photo.url }}" style="width:100px"/>
                {% else %}
                    no photo
                {% endif %}
                </a>
            </td>
        </tr>
    </table>
    {% endfor %}

    {% if is_paginated %}
    {% bootstrap_pagination page_obj size="small" justify_content="center" %}
    {% endif %}

    </body>
{% endblock content %}
