{% extends "instagram/layout.html" %}
{% load bootstrap4 %}

{% block title %}
{% endblock title %}

{% block content %}
    <body>

    <form action="" , method="get">
        <input type="text" , name='p' , value="{{ p }}">
        <input type="submit">
    </form>

    {% for list in post_list %}
    <h2>
        <a href="{{ list.get_absolute_url }}">
            {{ list.pk }} {{ list.message }}
        </a>
    </h2>
    {% if list.photo %}
    <img src="{{ list.photo.url }}" style="width:100px"/>
    {% else %}
    no photo
    {% endif %}
    {% endfor %}

    {% if is_paginated %}
    {% bootstrap_pagination page_obj size="small" justify_content="center" %}
    {% endif %}

    </body>
{% endblock content %}
